[Desktop Entry]
Type=Application
Name=PrBoom+
Comment=enhanced clone of the classic first-person shooter Doom
Icon=${SNAP}/snap/gui/prboom-plus.svg
Exec=prboom-plus-beidl.prboom-plus-iwad %F
Categories=Game;ActionGame;
MimeType=application/x-doom-wad;
Keywords=first;person;shooter;doom;
